.App {
  text-align: left;
}

.App-header {
  background-color: #708eca;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Message {
  color: #c82c2c;
  font-size: calc(8px+1vmin);
}

.Button {
  padding: 10px 30px;
  margin: 5px 0px 10px 15px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 7px;
  border-bottom-left-radius: 0;
  transition: all 0.3s;
}

.Input {
  position: relative;
  font-size: 1em;
  background: linear-gradient(21deg, #10abff, #1beabd);
  padding: 4px;
  display: inline-block;
  padding: 5px 10px;
  margin: 0px 0px 0px 15px;
  /* border-radius: 9999em; */
}